{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Team-ARK Inflearn API Documentation",
    "description" : "인프런 클론코딩, API 문서 페이지",
    "version" : "0.0.1"
  },
  "servers" : [ {
    "url" : "https://www.ark-inflearn.shop"
  }, {
    "url" : "https://3.34.236.174"
  }, {
    "url" : "http://3.34.236.174"
  }, {
    "url" : "http://localhost:8080"
  }, {
    "url" : "http://localhost:8081"
  } ],
  "tags" : [ ],
  "paths" : {
    "/api/v1/login" : {
      "post" : {
        "tags" : [ "회원" ],
        "summary" : "로그인",
        "description" : "로그인 성공",
        "operationId" : "로그인",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SignForm"
              },
              "examples" : {
                "로그인" : {
                  "value" : "{\n  \"email\" : \"test@email.com\",\n  \"password\" : \"AASHFKHQWFQYW#qwhfgqwf123!\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HttpResponse"
                },
                "examples" : {
                  "로그인" : {
                    "value" : "{\r\n  \"responseCode\" : \"200\",\r\n  \"responseMessage\" : \"OK\",\r\n  \"responseBody\" : \"log-in successful\"\r\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/member" : {
      "post" : {
        "tags" : [ "회원" ],
        "summary" : "신규 회원 정보 생성",
        "description" : "신규 회원 정보를 생성한다",
        "operationId" : "회원가입",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SignForm"
              },
              "examples" : {
                "회원가입" : {
                  "value" : "{\r\n  \"email\" : \"test@email.com\",\r\n  \"password\" : \"AASHFKHQWFQYW#qwhfgqwf123!\"\r\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HttpResponse"
                },
                "examples" : {
                  "회원가입" : {
                    "value" : "{\r\n  \"responseCode\" : \"200\",\r\n  \"responseMessage\" : \"OK\",\r\n  \"responseBody\" : \"sign-up successful\"\r\n}"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "SignForm" : {
        "title" : "SignForm",
        "type" : "object",
        "properties" : {
          "password" : {
            "type" : "string",
            "description" : "비밀번호"
          },
          "email" : {
            "type" : "string",
            "description" : "이메일"
          }
        }
      },
      "HttpResponse" : {
        "title" : "HttpResponse",
        "type" : "object",
        "properties" : {
          "responseBody" : {
            "type" : "string",
            "description" : "응답바디"
          },
          "responseMessage" : {
            "type" : "string",
            "description" : "응답메시지"
          },
          "responseCode" : {
            "type" : "string",
            "description" : "응답코드"
          }
        }
      }
    }
  }
}